In [62]:
#Libraries
import mysql.connector
import pandas as pd
from datetime import datetime
from tqdm import tqdm
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import requests
import time
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

## DB Coonnect

In [33]:
user = 'admin'
password = 'XXXXXXX'
host = 'sdpd.chck20ykciaw.us-west-2.rds.amazonaws.com'
GOOGLE_API_KEY = 'XXXXXX'
user_agent_name = 'Sal-App'
geolocator = Nominatim(user_agent = user_agent_name)

In [80]:
#Local
database = "SDPD_DB"

user = 'root'
password = 'XXXXX'
host = 'localhost'

GOOGLE_API_KEY = 'XXXXXX'
user_agent_name = 'Sal-App'
geolocator = Nominatim(user_agent = user_agent_name)

In [81]:
#Initial Connection
cnx = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database
                              )
cursor = cnx.cursor()

##  Find if Row exists

In [19]:
def Find_Data(row,cursor,table, key):
    try:
        cursor.execute(f"SELECT * from {table} where {key} = '{row[key]}'")
        result = cursor.fetchone()
    except:
        result = 0
    
    return result

## Load Variables

In [6]:
#Calls
url = f"http://seshat.datasd.org/pd/pd_cfs_calltypes_datasd.csv"
call_type = pd.read_csv(url).dropna(axis=1)

In [7]:
#Dispos
url = f"http://seshat.datasd.org/pd/pd_dispo_codes_datasd.csv"
disposition = pd.read_csv(url).dropna(axis=1)
disposition.loc[len(disposition.index)] = ['DEF', 'DEF'] 
disposition.loc[len(disposition.index)] = ['SS-', 'SS-']

In [8]:
#Beats
beat = pd.read_csv('beat-neighborhood.csv').dropna(axis=1)
beat_split = beat['beat,neighborhood'].str.split(pat=",",
                                                 expand=True)
beat_split = beat_split.rename(columns={0: "beat",
                                        1: "neighborhood"})
beat_split.loc[len(beat_split.index)] = [-1, 'No Beat']
beat_split.loc[len(beat_split.index)] = [700, '700'] 
beat_split.loc[len(beat_split.index)] = [62, '62']
beat_split.loc[len(beat_split.index)] = [63, '63']
beat_split.loc[len(beat_split.index)] = [64, '64'] 
beat_split.loc[len(beat_split.index)] = [0, '0'] 
beat_split.loc[len(beat_split.index)] = [300, '300']
beat_split.loc[len(beat_split.index)] = [9, '9']

In [9]:
# Create dataframe
days = pd.DataFrame({
    'day_of_week':list(range(1,8)),
    'day':['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
})

In [10]:
# df to dict
call_type_dict = call_type.to_dict('records')
disposition_dict = disposition.to_dict('records')
beat_dict = beat_split.to_dict('records')
days_dict = days.to_dict('records')

In [11]:
# SQL Variable Tables
SQL_Tables = pd.DataFrame({
    'Table':['Call_types','Dispositions','Beats'],
    'Key':['call_type','dispo_code','beat'],
    'Col2':['description','description','neighborhood'],
    'dict':[call_type_dict,disposition_dict,beat_dict]
})
SQL_Tables_dict = SQL_Tables.to_dict('records')

In [12]:
#Load Data
def Load_Data(row,cursor,table,Col1,Col2):
    # Create a new record
    sql = f"""INSERT INTO {table} ({Col1},
                                    {Col2}
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row[Col1],row[Col2]))
    cnx.commit()

In [13]:
for upper_row in tqdm(SQL_Tables_dict):
    for row in upper_row['dict']:
        Data_Found = Find_Data(row,cursor,
                               upper_row['Table'],
                               upper_row['Key'])
        if Data_Found is None:
            #If no data found load 
            Load_Data(row,
                      cursor,
                      upper_row['Table'],
                      upper_row['Key'],
                      upper_row['Col2'])
        else:
            pass

100%|█████████████████████████████████████████████| 3/3 [00:00<00:00, 12.34it/s]

# Load Historical Calls

In [14]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [15]:
Years = list(range(2018,datetime.now().year +1))
Years

[2018, 2019, 2020, 2021, 2022, 2023]

### Load Calls

In [81]:
#Calls
def Load_Calls(row,cursor,table,year):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    incident_date_time,
                                    call_type,
                                    dispo_code,
                                    beat,
                                    priority,
                                    incident_year
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['date_time'],
                         row['call_type'],
                         row['disposition'],
                         row['beat'],
                         row['priority'],
                         year,
                        )
                  )
    cnx.commit()

In [82]:
#Calls
def Load_Calls_NoBeat(row,cursor,table,year):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    incident_date_time,
                                    call_type,
                                    dispo_code,
                                    beat,
                                    priority,
                                    incident_year
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['date_time'],
                         row['call_type'],
                         row['disposition'],
                         0,
                         row['priority'],
                         year,
                        )
                  )
    cnx.commit()

In [18]:
for year in Years:
    yearly_data = Get_Data(year)
    yearly_data_dict = yearly_data.to_dict('records')
    for row in tqdm(yearly_data_dict):
        
        #Load Service Calls
        Table = 'Service_calls'
        Key = 'incident_num'
        #Verify if Data is in table
        Data_Found = Find_Data(row,cursor,Table,Key)
        if Data_Found is None:
            #If no data found load
            try:
                Load_Calls(row,cursor,Table,year)
            except:
                try:
                    Load_Calls_NoBeat(row,cursor,Table,year)
                except:
                    print(row)
                
        else:
            pass

 22%|███████▍                         | 127766/570459 [01:11<04:04, 1813.91it/s]

{'incident_num': 'E18030039305', 'date_time': '2018-03-24 22:57:20', 'day_of_week': 5, 'address_number_primary': 0, 'address_dir_primary': nan, 'address_road_primary': 'SEA BREEZE', 'address_sfx_primary': 'DR', 'address_dir_intersecting': nan, 'address_road_intersecting': 'WINCHESTER', 'address_sfx_intersecting': nan, 'call_type': 'PARTY', 'disposition': 'MOR', 'beat': 438, 'priority': 3}

 32%|██████████▌                      | 183448/570459 [01:41<03:31, 1826.14it/s]

{'incident_num': 'E18040047752', 'date_time': '2018-04-30 13:41:45', 'day_of_week': 0, 'address_number_primary': 4100, 'address_dir_primary': nan, 'address_road_primary': 'PARK', 'address_sfx_primary': 'BLV', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'HZRD', 'disposition': 'SHO', 'beat': 624, 'priority': 2}

 39%|████████████▉                    | 224535/570459 [02:04<03:12, 1799.49it/s]

{'incident_num': 'E18050042856', 'date_time': '2018-05-27 09:14:14', 'day_of_week': 6, 'address_number_primary': 1000, 'address_dir_primary': nan, 'address_road_primary': 'EVERGREEN', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '415CN', 'disposition': 'PER', 'beat': 615, 'priority': 3}
{'incident_num': 'E18050042919', 'date_time': '2018-05-27 10:05:33', 'day_of_week': 6, 'address_number_primary': 7500, 'address_dir_primary': nan, 'address_road_primary': 'BLACK OAK', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'MJ', 'disposition': 'JUV', 'beat': 436, 'priority': 1}

100%|█████████████████████████████████| 570459/570459 [05:14<00:00, 1810.98it/s]
100%|█████████████████████████████████| 590967/590967 [05:29<00:00, 1792.26it/s]
100%|█████████████████████████████████| 567290/567290 [05:15<00:00, 1800.13it/s]
100%|█████████████████████████████████| 568947/568947 [03:27<00:00, 2748.12it/s]
100%|█████████████████████████████████| 499256/499256 [02:52<00:00, 2896.94it/s]
100%|███████████████████████████████████| 54773/54773 [00:18<00:00, 2900.35it/s]

### Load Address

In [19]:
#Address
def Load_Calls_Address(row,cursor,table):
    address_list = [row['address_number_primary'],
               row['address_dir_primary'],
               row['address_road_primary'],
               row['address_sfx_primary'],
                    'San Diego CA'
                   ]
    
    def concatenate_elements(elements):
        result = ''
        for element in elements:
            if element is not None and not pd.isnull(element) and element != 0:
                result += str(element) + ' '
        return result.strip()
    
    
    address = concatenate_elements(address_list)
    
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    address_number_primary,
                                    address_dir_primary,
                                    address_road_primary,
                                    address_sfx_primary,
                                    address_dir_intersecting,
                                    address_road_intersecting,
                                    address_sfx_intersecting,
                                    address
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['address_number_primary'],
                         row['address_dir_primary'],
                         row['address_road_primary'],
                         row['address_sfx_primary'],
                         row['address_dir_intersecting'],
                         row['address_road_intersecting'],
                         row['address_sfx_intersecting'],
                         address
                        )
                  )
    cnx.commit()

In [20]:
#Load Address
for year in Years:
    yearly_data = Get_Data(year)
    yearly_data_dict = yearly_data.to_dict('records')
    for row in tqdm(yearly_data_dict):
        #Load Service Calls Address        
        Table = 'Address'
        Key = 'incident_num'
        #Verify if Data is in table
        Data_Found = Find_Data(row,cursor,Table,Key)
        if Data_Found is None:
            #If no data found load
            try:
                Load_Calls_Address(row,cursor,Table)
            except:
                print(row)
                
                
        else:
            pass

 22%|███████▍                         | 128015/570459 [00:46<02:40, 2763.95it/s]

{'incident_num': 'E18030039305', 'date_time': '2018-03-24 22:57:20', 'day_of_week': 5, 'address_number_primary': 0, 'address_dir_primary': nan, 'address_road_primary': 'SEA BREEZE', 'address_sfx_primary': 'DR', 'address_dir_intersecting': nan, 'address_road_intersecting': 'WINCHESTER', 'address_sfx_intersecting': nan, 'call_type': 'PARTY', 'disposition': 'MOR', 'beat': 438, 'priority': 3}

 32%|██████████▌                      | 183640/570459 [01:06<02:21, 2727.85it/s]

{'incident_num': 'E18040047752', 'date_time': '2018-04-30 13:41:45', 'day_of_week': 0, 'address_number_primary': 4100, 'address_dir_primary': nan, 'address_road_primary': 'PARK', 'address_sfx_primary': 'BLV', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'HZRD', 'disposition': 'SHO', 'beat': 624, 'priority': 2}

 39%|████████████▉                    | 224666/570459 [01:21<02:06, 2731.22it/s]

{'incident_num': 'E18050042856', 'date_time': '2018-05-27 09:14:14', 'day_of_week': 6, 'address_number_primary': 1000, 'address_dir_primary': nan, 'address_road_primary': 'EVERGREEN', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '415CN', 'disposition': 'PER', 'beat': 615, 'priority': 3}
{'incident_num': 'E18050042919', 'date_time': '2018-05-27 10:05:33', 'day_of_week': 6, 'address_number_primary': 7500, 'address_dir_primary': nan, 'address_road_primary': 'BLACK OAK', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'MJ', 'disposition': 'JUV', 'beat': 436, 'priority': 1}

100%|█████████████████████████████████| 570459/570459 [03:25<00:00, 2773.01it/s]
100%|█████████████████████████████████| 590967/590967 [03:35<00:00, 2741.78it/s]
100%|█████████████████████████████████| 567290/567290 [03:24<00:00, 2768.92it/s]
100%|█████████████████████████████████| 568947/568947 [03:24<00:00, 2781.15it/s]
100%|█████████████████████████████████| 499256/499256 [03:00<00:00, 2769.08it/s]
100%|███████████████████████████████████| 54773/54773 [00:19<00:00, 2783.09it/s]

In [45]:
#Testing Area
import math

incident_num = 'E20010005786'
address_number_primary = 0
address_dir_primary = math.nan
address_road_primary = 'BARNETT'
address_sfx_primary = 'AVE'
address_dir_intersecting = math.nan
address_road_intersecting = 'PACIFIC HWY SB ON RAMP'
address_sfx_intersecting = math.nan




address_list = [address_number_primary,
               address_dir_primary,
               address_road_primary,
               address_sfx_primary,
                    'San Diego CA'
                   ]
    
def concatenate_elements(elements):
    result = ''
    for element in elements:
        if element is not None and not pd.isnull(element) and element != 0:
            result += str(element) + ' '
    return result.strip()


address = concatenate_elements(address_list)

# Create a new record
sql = f"""INSERT INTO Address( incident_num,
                                address_number_primary,
                                address_dir_primary,
                                address_road_primary,
                                address_sfx_primary,
                                address_dir_intersecting,
                                address_road_intersecting,
                                address_sfx_intersecting,
                                address
                                ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

# Execute the query
cursor.execute(sql, (incident_num,
                     address_number_primary,
                     address_dir_primary,
                     address_road_primary,
                     address_sfx_primary,
                     address_dir_intersecting,
                     address_road_intersecting,
                     address_sfx_intersecting,
                     address
                    )
              )
cnx.commit()

### Lat and Long

In [67]:
#Connect to DB
engine = create_engine(f"mysql://{user}:{password}@{host}/{database}")
connection = engine.connect()

In [70]:
database

'SDPD_DB'

In [71]:
host

'localhost'

In [73]:
start_time = time.time()
result = connection.execute(
    """
    SELECT incident_num,address from Address
    order by incident_num desc
    limit 5

    """)
column_names = result.keys()
rows = result.fetchall()
result_df = pd.DataFrame(rows, columns=column_names)
Address_Book = result_df
Address_Book
end_time = time.time()
query_time_improved = end_time - start_time
print("The query took %s seconds to execute" % query_time_improved)

The query took 0.004702091217041016 seconds to execute

In [74]:
def Lat_Long(address):
    lat, lng  = None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={'4600 ZION AVE'}&key={api_key}"
    r = requests.get(endpoint)
    if r.status_code not in range(200, 299):
        #error
        return None, None
    try:
        #found
        results = r.json()['results'][0]
        print(results)
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
        
    except:
        pass
    return lat, lng

def DF_GeoCode(row):
    column_name = 'address'
    address_value = row[column_name]
    address_lat, address_lng = Lat_Long(address_value)
    row['lat'] = address_lat
    row['lng'] = address_lng
    
    return row

#Lat and Long load
def Load_LL(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    lat,
                                    lng
                                    ) VALUES (%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['lat'],
                         row['lng']
                        )
                  )
    cnx.commit()

In [75]:
Address_Book_noN = Address_Book.dropna()
Address_Book_noN

   incident_num                            address
0  E23020013812  2500 TORREY PINES RD San Diego CA
1  E23020013808         7900 FROST ST San Diego CA
2  E23020013805            EUCLID AVE San Diego CA
3  E23020013802      1300 COLUMBIA ST San Diego CA
4  E23020013801                  EB 8 San Diego CA

In [82]:
Address_Book_dict = Address_Book_noN.to_dict('records')
for row in tqdm(Address_Book_dict):
    Data_Found = Find_Data(DF_GeoCode(row),
                           cursor,
                           'geolocations',
                           'incident_num')
    print('Here')
    print(Data_Found)
    print(DF_GeoCode(row))
    if Data_Found is None:
        try:
            print(DF_GeoCode(row))
            #Load_LL(DF_GeoCode(row),
             #       cursor,
              #      'GeoLocations')
        except:
            print(row)

  0%|                                                     | 0/5 [00:00<?, ?it/s]

Here
('E23020013812', Decimal('32.851370'), Decimal('-117.249699'))

 20%|█████████                                    | 1/5 [00:01<00:04,  1.11s/it]

{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
{'incident_num': 'E23020013812', 'address': '2500 TORREY PINES RD San Diego CA', 'lat': 32.7932986, 'lng': -117.0954507}
{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
Here
('E23020013808', Decimal('32.800650'), Decimal('-117.154586'))

 40%|██████████████████                           | 2/5 [00:02<00:03,  1.07s/it]

{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
{'incident_num': 'E23020013808', 'address': '7900 FROST ST San Diego CA', 'lat': 32.7932986, 'lng': -117.0954507}
Here
('E23020013805', Decimal('32.732951'), Decimal('-117.088323'))

 60%|███████████████████████████                  | 3/5 [00:03<00:02,  1.04s/it]

{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
{'incident_num': 'E23020013805', 'address': 'EUCLID AVE San Diego CA', 'lat': 32.7932986, 'lng': -117.0954507}
{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
Here
('E23020013802', Decimal('32.718925'), Decimal('-117.167544'))

 80%|████████████████████████████████████         | 4/5 [00:04<00:01,  1.10s/it]

{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
{'incident_num': 'E23020013802', 'address': '1300 COLUMBIA ST San Diego CA', 'lat': 32.7932986, 'lng': -117.0954507}
{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
Here
('E23020013801', Decimal('32.728722'), Decimal('-117.157554'))

100%|█████████████████████████████████████████████| 5/5 [00:05<00:00,  1.07s/it]

{'address_components': [{'long_name': '4600', 'short_name': '4600', 'types': ['street_number']}, {'long_name': 'Zion Avenue', 'short_name': 'Zion Ave', 'types': ['route']}, {'long_name': 'Allied Gardens', 'short_name': 'Allied Gardens', 'types': ['neighborhood', 'political']}, {'long_name': 'San Diego', 'short_name': 'San Diego', 'types': ['locality', 'political']}, {'long_name': 'San Diego County', 'short_name': 'San Diego County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '92120', 'short_name': '92120', 'types': ['postal_code']}], 'formatted_address': '4600 Zion Ave, San Diego, CA 92120, USA', 'geometry': {'location': {'lat': 32.7932986, 'lng': -117.0954507}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 32.7944854302915, 'lng': -117.0941045197085}, 'southwest': {'lat': 32.7917874697085, 'lng': -117.0968024802915}}}, 'place_id': 'Eic0NjAwIFppb24gQXZlLCBTYW4gRGllZ28sIENBIDkyMTIwLCBVU0EiMRIvChQKEglRE-je6VXZgBE0KAY-Dw75jRD4IyoUChIJgyG3A91V2YARSqv5WaSKrwU', 'types': ['street_address']}
{'incident_num': 'E23020013801', 'address': 'EB 8 San Diego CA', 'lat': 32.7932986, 'lng': -117.0954507}

### ZipCode

In [7]:
#Get Zipcodes
result = connection.execute(
    """
    SELECT incident_num,lat,lng from GeoLocations


    """)
column_names = result.keys()
rows = result.fetchall()
ZipCode_Book = pd.DataFrame(rows, columns=column_names)
ZipCode_Book = ZipCode_Book.dropna()
ZipCode_Book

       incident_num        lat          lng
0      E18010000001  32.759030  -117.116806
1      E18010000002  32.692819  -117.129957
2      E18010000003  32.793443  -117.255729
3      E18010000004  32.712896  -117.097859
4      E18010000005  32.731232  -117.161241
...             ...        ...          ...
55418  E23020013801  32.728722  -117.157554
55419  E23020013802  32.718925  -117.167544
55420  E23020013805  32.732951  -117.088323
55421  E23020013808  32.800650  -117.154586
55422  E23020013812  32.851370  -117.249699

[55423 rows x 3 columns]

In [8]:
#Functions
def get_zipcode(df, geolocator, lat_field, lon_field):
    try:
        location = geolocator.reverse((df[lat_field], df[lon_field]))
    #print(location)
        df['Zipcode'] = location.raw['address']['postcode']
    except:
        df['Zipcode'] = 0
    #print('Error')
    #print(df)
    return df

#Lat and Long
def Load_Zipcode(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    Zipcode
                                    ) VALUES (%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['Zipcode']
                        )
                  )
    cnx.commit()

In [9]:
row_test = {'incident_num': 'E18010000723', 'lat': '32.714798', 'lng': '-117.161265'}
row_test

{'incident_num': 'E18010000723', 'lat': '32.714798', 'lng': '-117.161265'}

In [10]:
get_zipcode(row_test,geolocator=geolocator,lat_field='lat',lon_field='lng')

{'incident_num': 'E18010000723',
 'lat': '32.714798',
 'lng': '-117.161265',
 'Zipcode': 0}

In [11]:
for row in tqdm(ZipCode_Book.to_dict('records')):
    Data_Found = Find_Data(row,
                           cursor,
                           'Zipcodes',
                           'incident_num')

    if Data_Found is None:
        #If no data found load 
        try:
            Load_Zipcode(get_zipcode(row,
                            geolocator=geolocator,
                                     lat_field='lat',
                                     lon_field='lng'
                                    ),
                      cursor,
                      'Zipcodes')
        except:
            print(row)
    else:
        pass

100%|███████████████████████████████████| 55423/55423 [7:33:52<00:00,  2.04it/s]

In [58]:
ZipCode_Book['Zipcode'] = zipcodes
ZipCode_Book

     incident_num        lat          lng Zipcode
0    E18010000001  32.759030  -117.116806   92116
1    E18010000002  32.692819  -117.129957   92136
2    E18010000003  32.793443  -117.255729   92109
3    E18010000004  32.712896  -117.097859   92102
4    E18010000005  32.731232  -117.161241   92101
..            ...        ...          ...     ...
995  E18010001067  32.835232  -117.178724   92117
996  E18010001068  32.893766  -117.201996   92121
997  E18010001069  32.929823  -117.195305   92130
998  E18010001070  32.803102  -117.010562   92119
999  E18010001071  32.698334  -117.129855   92113

[1000 rows x 4 columns]

In [ ]:
zipcodes = ZipCode_Book.apply(get_zipcode,
                            axis=1,
                            geolocator=geolocator,
                            lat_field='lat',
                            lon_field='lng'
                           )

***

# Download Data from local

In [175]:
database = "SDPD_DB"
user = 'root'
password = 'XXXXX'
host = 'localhost'

In [176]:
#Initial Connection
cnx = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database
                              )
cursor = cnx.cursor()

In [177]:
#Connect to DB
engine = create_engine(f"mysql://{user}:{password}@{host}/{database}")
connection = engine.connect()

In [173]:
#Get all date
def get_all_data(table):
    result = connection.execute(
        f"""
        SELECT * from {table}
        
        """)
    column_names = result.keys()
    rows = result.fetchall()
    df = pd.DataFrame(rows, columns=column_names)
    #df = df.dropna()
    return df

In [74]:
zipcode_df = get_all_data('Zipcodes')
GeoLocations_df = get_all_data('GeoLocations')
Call_types_df = get_all_data('Call_types')
Dispositions_df = get_all_data('Dispositions')
Beats_df = get_all_data('Beats')
Service_calls_df = get_all_data('Service_calls')
Service_calls_df

,incident_num,incident_date_time,call_type,dispo_code,beat,priority,incident_year
0,E18010000001,2018-01-01 00:00:09,FD,K,624,2,2018
1,E18010000002,2018-01-01 00:00:41,AU1,W,511,1,2018
2,E18010000003,2018-01-01 00:00:52,1016,A,122,2,2018
3,E18010000004,2018-01-01 00:00:55,AU1,W,445,1,2018
4,E18010000005,2018-01-01 00:00:56,1151,O,523,3,2018
...,...,...,...,...,...,...,...
2851683,E23020013801,2023-02-09 23:43:55,T,K,623,2,2023
2851684,E23020013802,2023-02-09 23:44:48,FU,K,524,2,2023
2851685,E23020013805,2023-02-09 23:49:20,T,O,828,2,2023
2851686,E23020013808,2023-02-09 23:53:22,911,CAN,314,1,2023
2851687,E23020013812,2023-02-09 23:56:48,911,CAN,124,1,2023

In [178]:
Address_df = get_all_data('Address')
zipcode_df = get_all_data('Zipcodes')
GeoLocations_df = get_all_data('GeoLocations')
Address_df

,incident_num,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,address
0,E18010000001,0,None,MONROE,AVE,None,PARK,None,MONROE AVE San Diego CA
1,E18010000002,0,None,MAIN,ST,None,THOR,None,MAIN ST San Diego CA
2,E18010000003,4300,None,OCEAN,BLV,None,None,None,4300 OCEAN BLV San Diego CA
3,E18010000004,4500,None,BOYLSTON,ST,None,None,None,4500 BOYLSTON ST San Diego CA
4,E18010000005,0,None,04TH,AVE,None,ISLAND,None,04TH AVE San Diego CA
...,...,...,...,...,...,...,...,...,...
2851683,E23020013801,0,EB,8,None,None,TAYLOR,None,EB 8 San Diego CA
2851684,E23020013802,1300,None,COLUMBIA,ST,None,None,None,1300 COLUMBIA ST San Diego CA
2851685,E23020013805,0,None,EUCLID,AVE,None,WIGHTMAN,None,EUCLID AVE San Diego CA
2851686,E23020013808,7900,None,FROST,ST,None,None,None,7900 FROST ST San Diego CA
2851687,E23020013812,2500,None,TORREY PINES,RD,None,None,None,2500 TORREY PINES RD San Diego CA

In [139]:
Service_calls_df = get_all_data('Service_calls')
Service_calls_df

,incident_num,incident_date_time,call_type,dispo_code,beat,priority,incident_year
0,E18010000001,2018-01-01 00:00:09,FD,K,624,2,2018
1,E18010000002,2018-01-01 00:00:41,AU1,W,511,1,2018
2,E18010000003,2018-01-01 00:00:52,1016,A,122,2,2018
3,E18010000004,2018-01-01 00:00:55,AU1,W,445,1,2018
4,E18010000005,2018-01-01 00:00:56,1151,O,523,3,2018
...,...,...,...,...,...,...,...
2851683,E23020013801,2023-02-09 23:43:55,T,K,623,2,2023
2851684,E23020013802,2023-02-09 23:44:48,FU,K,524,2,2023
2851685,E23020013805,2023-02-09 23:49:20,T,O,828,2,2023
2851686,E23020013808,2023-02-09 23:53:22,911,CAN,314,1,2023
2851687,E23020013812,2023-02-09 23:56:48,911,CAN,124,1,2023

# Conect to AWS

## Migrating Data from Local to AWS

In [180]:
database = "sdpd"
user = 'admin'
password = 'XXXX'
host = 'sdpd.chck20ykciaw.us-west-2.rds.amazonaws.com'

#Initial Connection
cnx = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database
                              )
cursor = cnx.cursor()

#Connect to DB
engine = create_engine(f"mysql://{user}:{password}@{host}/{database}")
connection = engine.connect()

In [77]:
# df to dict
call_type_dict = Call_types_df.to_dict('records')
disposition_dict = Dispositions_df.to_dict('records')
beat_dict = Beats_df.to_dict('records')

In [78]:
# SQL Variable Tables
SQL_Tables = pd.DataFrame({
    'Table':['call_types','dispositions','beats'],
    'Key':['call_type','dispo_code','beat'],
    'Col2':['description','description','neighborhood'],
    'dict':[call_type_dict,disposition_dict,beat_dict]
})
SQL_Tables_dict = SQL_Tables.to_dict('records')

In [79]:
#Load Data
def Load_Data(row,cursor,table,Col1,Col2):
    # Create a new record
    sql = f"""INSERT INTO {table} ({Col1},
                                    {Col2}
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row[Col1],row[Col2]))
    cnx.commit()

In [80]:
for upper_row in tqdm(SQL_Tables_dict):
    for row in upper_row['dict']:
        Data_Found = Find_Data(row,cursor,
                               upper_row['Table'],
                               upper_row['Key'])
        if Data_Found is None:
            #If no data found load 
            Load_Data(row,
                      cursor,
                      upper_row['Table'],
                      upper_row['Key'],
                      upper_row['Col2'])
        else:
            pass

100%|█████████████████████████████████████████████| 3/3 [01:45<00:00, 35.13s/it]

### Service Calls

In [140]:
Service_calls_df

,incident_num,incident_date_time,call_type,dispo_code,beat,priority,incident_year
0,E18010000001,2018-01-01 00:00:09,FD,K,624,2,2018
1,E18010000002,2018-01-01 00:00:41,AU1,W,511,1,2018
2,E18010000003,2018-01-01 00:00:52,1016,A,122,2,2018
3,E18010000004,2018-01-01 00:00:55,AU1,W,445,1,2018
4,E18010000005,2018-01-01 00:00:56,1151,O,523,3,2018
...,...,...,...,...,...,...,...
2851683,E23020013801,2023-02-09 23:43:55,T,K,623,2,2023
2851684,E23020013802,2023-02-09 23:44:48,FU,K,524,2,2023
2851685,E23020013805,2023-02-09 23:49:20,T,O,828,2,2023
2851686,E23020013808,2023-02-09 23:53:22,911,CAN,314,1,2023
2851687,E23020013812,2023-02-09 23:56:48,911,CAN,124,1,2023

In [166]:
Service_calls_df.to_sql('service_calls',
                        con=engine,
                        if_exists='append',
                        index=False)

### Addreess

In [182]:
Address_df.to_sql('address',
                        con=engine,
                        if_exists='append',
                        index=False)

2851688

In [171]:
zipcode_df

       incident_num  Zipcode
0      E18010000001    92116
1      E18010000002    92136
2      E18010000003    92109
3      E18010000004    92102
4      E18010000005    92101
...             ...      ...
55418  E23020013801    92101
55419  E23020013802    92101
55420  E23020013805    92105
55421  E23020013808    92123
55422  E23020013812    92037

[55423 rows x 2 columns]

In [183]:
zipcode_df.to_sql('zipcodes',
                        con=engine,
                        if_exists='append',
                        schema=database,
                        index=False)

55423

In [184]:
GeoLocations_df.to_sql('geolocations',
                        con=engine,
                        if_exists='append',
                        index=False)

55423