![USD](usd.png)

### University of San Diego 

### Master of Science, Applied Data Science 

#### Contributors

- Ebad Akhter
- Kevin Baum
- Salvador Sanchez

***

In [1]:
#Libraries
import pandas as pd
from datetime import datetime
import numpy as np
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim
import requests
#from PasswordHolder import password

# Load Data

In [31]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [28]:
url = f"http://seshat.datasd.org/pd/pd_cfs_calltypes_datasd.csv"
call_type = pd.read_csv(url).dropna(axis=1)
call_type['call_length'] = call_type['call_type'].str.len()
call_type['description_length'] = call_type['description'].str.len()
#call_type = call_type.sort_values(by=['call_length'])
call_type = call_type.sort_values(by=['description_length'])
call_type

,call_type,description,call_length,description_length
83,245,ADW,3,3
79,23152,DUI,5,3
41,1171,FIRE,4,4
210,COURT,COURT,5,5
59,187,MURDER,3,6
...,...,...,...,...
250,MPSSTP,TRAFFIC STOP FROM THE MOBILE COMPUTER,6,37
78,23110R,THROWING OBJECTS AT AN OCC VEH REPORT,6,37
240,INFOT,"INFO ON TRAFFIC,HIT & RUN-ADVISED EVENT",5,39
15,11-6SPT,DISCHARGING FIREARM SHOT SPOTTER ACTIVATION,7,43
241,INFOX,EXTRA PATROL INFO FOR FIELD SGT-ADVISED EVENT,5,45

In [26]:
url = f"http://seshat.datasd.org/pd/pd_dispo_codes_datasd.csv"
disposition = pd.read_csv(url).dropna(axis=1)
disposition['description_length'] = disposition['description'].str.len()
disposition = disposition.sort_values(by=['description_length'])
disposition

,dispo_code,description,description_length
8,O,OTHER,5
15,CAN,CANCEL,6
4,R,REPORT,6
13,U,UNFOUNDED,9
1,A,ARREST MADE,11
17,V,DUPLICATE CALL,14
10,K,NO REPORT REQUIRED,18
16,DUP,"DUPLICATE CALL, XREF'D",22
2,AB,"ARREST MADE, BOARD AND SECURE",29
5,RB,"REPORT TAKEN, BOARD AND SECURE",30
7,S,STOLEN VEHICLE OR RECOVERED VEHICLE,35
11,KB,"NO REPORT REQUIRED, BOARD AND SECURE",36
9,OHR,"OTHER, HIGH RISK (CRISIS RESPONSE TEAM)",39
6,RHR,"REPORT, HIGH RISK (CRISIS RESPONSE TEAM)",40
3,AHR,"ARREST MADE, HIGH RISK (CRISIS RESPONSE TEAM)",45
12,KHR,"NO FURTHER ACTION, HIGH RISK (CRISIS RESPONSE ...",51
0,X,DISPATCHED ALARM CALL CANCELLED BEFORE UNIT ON...,51
14,W,NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...,60

In [27]:
beat = pd.read_csv('beat-neighborhood.csv').dropna(axis=1)
beat_split = beat['beat,neighborhood'].str.split(pat=",",
                                                 expand=True)
beat_split = beat_split.rename(columns={0: "beat",
                                        1: "neighborhood"})
beat_split['neighborhood_length'] = beat_split['neighborhood'].str.len()
beat_split = beat_split.sort_values(by=['neighborhood_length'])
beat_split

    beat           neighborhood  neighborhood_length
91   722                 Nestor                    6
89   714                 Border                    6
2    113                 Bay Ho                    6
60   522                 Marina                    6
111  834                 Castle                    6
..   ...                    ...                  ...
86   711   Tijuana River Valley                   20
1    112   Clairemont Mesa West                   20
124  937   Black Mountain Ranch                   20
74   615  Roseville/Fleet Ridge                   21
112  835  Azalea/Hollywood Park                   21

[125 rows x 3 columns]

In [1]:
from tabula import read_pdf
url = f"http://seshat.datasd.org/pd/pd_cfs_priority_defs_datasd.pdf"
priority = read_pdf(url)
#priority

'pages' argument isn't specified.Will extract only from page 1 by default.

In [32]:
#Current year
current_year = datetime.now().year

In [33]:
#Current Data
current_data = Get_Data(current_year)

#Last Year
last_year_data = Get_Data(current_year-1)

#Year - 2
yearM2_data = Get_Data(current_year-2)

current_data.tail()

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
33391,E23010035780,2023-01-25 23:29:01,4,0,NaN,04TH,AVE,NaN,E,NaN,314,DUP,523,2
33392,E23010035784,2023-01-25 23:37:22,4,800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,1130,K,623,1
33393,E23010035785,2023-01-25 23:37:59,4,4000,NaN,46TH,ST,NaN,NaN,NaN,1146,K,831,0
33394,E23010035786,2023-01-25 23:38:56,4,3700,NaN,05TH,AVE,NaN,NaN,NaN,459A,CAN,627,3
33395,E23010035789,2023-01-25 23:44:43,4,0,NaN,EL CAJON,BLV,NaN,40TH,NaN,T,K,832,2

# EDA

In [34]:
current_data.describe()

,day_of_week,address_number_primary,address_dir_intersecting,address_sfx_intersecting,beat,priority
count,33396.000000,33396.000000,0.0,0.0,33396.000000,33396.000000
mean,3.851689,3394.199605,NaN,NaN,490.853845,2.116391
std,1.903751,3393.516987,NaN,NaN,238.810582,1.210111
min,1.000000,0.000000,NaN,NaN,-1.000000,0.000000
25%,2.000000,600.000000,NaN,NaN,313.000000,1.000000
50%,4.000000,2800.000000,NaN,NaN,521.000000,2.000000
75%,5.000000,4800.000000,NaN,NaN,627.000000,3.000000
max,7.000000,53500.000000,NaN,NaN,937.000000,9.000000

In [35]:
last_year_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499256 entries, 0 to 499255
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   incident_num               499256 non-null  object
 1   date_time                  499256 non-null  object
 2   day_of_week                499256 non-null  int64
 3   address_number_primary     499256 non-null  int64
 4   address_dir_primary        23135 non-null   object
 5   address_road_primary       499187 non-null  object
 6   address_sfx_primary        455019 non-null  object
 7   address_dir_intersecting   0 non-null       float64
 8   address_road_intersecting  85382 non-null   object
 9   address_sfx_intersecting   0 non-null       float64
 10  call_type                  498640 non-null  object
 11  disposition                497161 non-null  object
 12  beat                       499256 non-null  int64
 13  priority                   499256 non-null  int64
dtypes: float64(2), int64(4), object(8)
memory usage: 53.3+ MB

In [36]:
#Expore Data
def Explore_Data(df):
    #Clean Data
    df = df.dropna(how='all', axis=1)
    
    #Initial table
    freqDF = pd.DataFrame(columns=['Feature',
                                   'Mode',
                                   'Mode Freq.',
                                   'Mode %',
                                   '2nd Mode',
                                   '2nd Mode Freq.',
                                   '2nd Mode %'])
    for col in df.columns:
        freq = df[col].value_counts()
        freqdf = freq.to_frame()
        fRow = freqdf.iloc[0]
        secRow = freqdf.iloc[1]
        fPrct = fRow[0] / len(df[col])
        secPrct = secRow[0] / len(df[col])
        try:
            mode1 = int(fRow.name)
        except:
            mode1 = fRow.name
        try:
            mode2 = int(secRow.name)
        except:
            mode2 = secRow.name
        data = {'Feature':col,
                'Mode':mode1,
                'Mode Freq.':fRow[0],
                'Mode %':fPrct,\
                '2nd Mode':mode2,
                '2nd Mode Freq.':secRow[0],
                '2nd Mode %':secPrct}
        freqDF.loc[len(freqDF)] = data

    freqDF = freqDF.set_index('Feature')

    #Nulls, Counts, Cardinality
    NUllFeatures = round(df.isnull().sum() / df.shape[0],4)\
          .sort_values(ascending=False)
    Count = df.count()
    uni = df.nunique()

    #Formating
    NUllFeatures.to_frame(name="% Miss.")
    Count.to_frame(name="Count")
    uni.to_frame()
    result = pd.concat([Count, NUllFeatures,uni], axis=1)
    result.columns =["Count","% Miss.","Card."]
    result = pd.concat([result, freqDF], axis=1)
    result = result.style.format({'% Miss.': "{:.1%}",
                         'Mode %': "{:.0%}",
                         '2nd Mode %': "{:.0%}",
                         'Count': "{:,}",
                         'Card.': "{:,}",
                         'Mode Freq.': "{:,}",
                        '2nd Mode Freq.': "{:,}"})
    return result

In [37]:
Explore_Data(current_data)

In [38]:
Explore_Date(last_year_data)

In [39]:
Explore_Date(yearM2_data)

# Data Prep

In [40]:
def AddressNumberStr(df):
    df['address_number_primary_str'] = df['address_number_primary'].astype(str)
    df.address_number_primary_str.replace('0', np.nan, inplace=True)
    return df

In [41]:
def AddressField(df,City,State):
    df['Address'] = df[['address_number_primary_str',
                        'address_dir_primary',
                        'address_road_primary',
                        'address_sfx_primary']].apply(lambda x: ' '.join(x.dropna()), axis=1)
    df['Address'] = df['Address'] + ' ' + City +', ' + State
    return df

In [42]:
Address_Data = AddressNumberStr(current_data)
Address_Data = AddressField(current_data,'San Diego','California')

In [43]:
Address_Data.tail()

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,address_number_primary_str,Address
33391,E23010035780,2023-01-25 23:29:01,4,0,NaN,04TH,AVE,NaN,E,NaN,314,DUP,523,2,NaN,"04TH AVE San Diego, California"
33392,E23010035784,2023-01-25 23:37:22,4,800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,1130,K,623,1,800,"800 HOTEL CIRCLE SOUTH San Diego, California"
33393,E23010035785,2023-01-25 23:37:59,4,4000,NaN,46TH,ST,NaN,NaN,NaN,1146,K,831,0,4000,"4000 46TH ST San Diego, California"
33394,E23010035786,2023-01-25 23:38:56,4,3700,NaN,05TH,AVE,NaN,NaN,NaN,459A,CAN,627,3,3700,"3700 05TH AVE San Diego, California"
33395,E23010035789,2023-01-25 23:44:43,4,0,NaN,EL CAJON,BLV,NaN,40TH,NaN,T,K,832,2,NaN,"EL CAJON BLV San Diego, California"

# Geo Location Data Google Lat and Long

In [44]:
def Lat_Long(address):
    lat, lng, zipcode  = None, None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={address}&key={api_key}"
    r = requests.get(endpoint)
    if r.status_code not in range(200, 299):
        #error
        return None, None
    try:
        #found
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
        zipcode = results['address_components'][-1]['long_name']
        
    except:
        pass
    return lat, lng, zipcode

def DF_GeoCode(row):
    column_name = 'Address'
    address_value = row[column_name]
    address_lat, address_lng, address_zip = Lat_Long(address_value)
    row['lat'] = address_lat
    row['lng'] = address_lng
    row['zipcode'] = address_zip
    
    return row

In [45]:
Last2000 = Address_Data.tail(10000)
Last10 = Address_Data.tail(10)

In [46]:
Last10_Geo = Last10.apply(DF_GeoCode, axis=1)

In [47]:
Last10_Geo

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,address_number_primary_str,Address,lat,lng,zipcode
33386,E23010035772,2023-01-25 23:23:53,4,9400,NaN,MIRA MESA,BLV,NaN,NaN,NaN,415,K,242,2,9400,"9400 MIRA MESA BLV San Diego, California",32.917513,-117.122661,4846
33387,E23010035773,2023-01-25 23:24:05,4,700,W,FIR,ST,NaN,NaN,NaN,SELENF,U,528,3,700,"700 W FIR ST San Diego, California",32.724368,-117.168719,92101
33388,E23010035776,2023-01-25 23:26:58,4,1800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,415N,K,623,3,1800,"1800 HOTEL CIRCLE SOUTH San Diego, California",32.759330,-117.179314,92108
33389,E23010035777,2023-01-25 23:27:25,4,900,NaN,05TH,AVE,NaN,NaN,NaN,911,K,523,1,900,"900 05TH AVE San Diego, California",32.714816,-117.160416,92101
33390,E23010035779,2023-01-25 23:29:00,4,9400,NaN,MIRA MESA,BLV,NaN,NaN,NaN,FD,K,242,2,9400,"9400 MIRA MESA BLV San Diego, California",32.917513,-117.122661,4846
33391,E23010035780,2023-01-25 23:29:01,4,0,NaN,04TH,AVE,NaN,E,NaN,314,DUP,523,2,NaN,"04TH AVE San Diego, California",32.731232,-117.161241,United States
33392,E23010035784,2023-01-25 23:37:22,4,800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,1130,K,623,1,800,"800 HOTEL CIRCLE SOUTH San Diego, California",32.759391,-117.177008,92108
33393,E23010035785,2023-01-25 23:37:59,4,4000,NaN,46TH,ST,NaN,NaN,NaN,1146,K,831,0,4000,"4000 46TH ST San Diego, California",32.749581,-117.095525,92105
33394,E23010035786,2023-01-25 23:38:56,4,3700,NaN,05TH,AVE,NaN,NaN,NaN,459A,CAN,627,3,3700,"3700 05TH AVE San Diego, California",32.745135,-117.160394,4224
33395,E23010035789,2023-01-25 23:44:43,4,0,NaN,EL CAJON,BLV,NaN,40TH,NaN,T,K,832,2,NaN,"EL CAJON BLV San Diego, California",32.757308,-117.083611,United States

In [48]:
Last10.to_csv('Last10.csv')

In [49]:
Last2000_Geo = Last2000.apply(DF_GeoCode, axis=1)

In [50]:
Last2000_Geo.to_csv('Last2000_Geo.csv')

In [51]:
Last2000_Geo

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,address_number_primary_str,Address,lat,lng,zipcode
23396,E23010025101,2023-01-18 17:00:02,4,1600,NaN,06TH,AVE,NaN,NaN,NaN,415,CAN,526,2,1600,"1600 06TH AVE San Diego, California",32.722117,-117.159458,92101
23397,E23010025102,2023-01-18 17:00:17,4,0,NaN,HILLTOP,DR,NaN,COTTON,NaN,1149,K,445,2,NaN,"HILLTOP DR San Diego, California",32.715075,-117.095691,United States
23398,E23010025103,2023-01-18 17:01:35,4,0,NaN,SPORTS ARENA,BLV,NaN,INTERSTATE 8 EB ON RAMP,NaN,415,K,613,2,NaN,"SPORTS ARENA BLV San Diego, California",32.753394,-117.210509,United States
23399,E23010025104,2023-01-18 17:01:52,4,500,S,38TH,ST,NaN,NaN,NaN,HZRD,K,441,2,500,"500 S 38TH ST San Diego, California",32.701259,-117.112516,2854
23400,E23010025106,2023-01-18 17:03:51,4,0,NaN,HANCOCK,ST,NaN,GREENWOOD,NaN,1151,K,611,2,NaN,"HANCOCK ST San Diego, California",32.753068,-117.203168,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33391,E23010035780,2023-01-25 23:29:01,4,0,NaN,04TH,AVE,NaN,E,NaN,314,DUP,523,2,NaN,"04TH AVE San Diego, California",32.731232,-117.161241,United States
33392,E23010035784,2023-01-25 23:37:22,4,800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,1130,K,623,1,800,"800 HOTEL CIRCLE SOUTH San Diego, California",32.759391,-117.177008,92108
33393,E23010035785,2023-01-25 23:37:59,4,4000,NaN,46TH,ST,NaN,NaN,NaN,1146,K,831,0,4000,"4000 46TH ST San Diego, California",32.749581,-117.095525,92105
33394,E23010035786,2023-01-25 23:38:56,4,3700,NaN,05TH,AVE,NaN,NaN,NaN,459A,CAN,627,3,3700,"3700 05TH AVE San Diego, California",32.745135,-117.160394,4224
33395,E23010035789,2023-01-25 23:44:43,4,0,NaN,EL CAJON,BLV,NaN,40TH,NaN,T,K,832,2,NaN,"EL CAJON BLV San Diego, California",32.757308,-117.083611,United States

# Geo Location Data Zipcode

In [54]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    try:
        location = geolocator.reverse((df[lat_field], df[lon_field]))
        result = location.raw['address']['postcode']
    except:
        result = None
    return result

In [ ]:
zipcodes = Last10_Geo.apply(get_zipcode,
                            axis=1,
                            geolocator=locator,
                            lat_field='lat',
                            lon_field='lng'
                           )

In [ ]:
zipcodes

In [55]:
Last2000_Geo['Zipcodes'] = Last2000_Geo.apply(get_zipcode,
                            axis=1,
                            geolocator=locator,
                            lat_field='lat',
                            lon_field='lng'
                           )

In [56]:
Last2000_Geo

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,address_number_primary_str,Address,lat,lng,zipcode,Zipcodes
23396,E23010025101,2023-01-18 17:00:02,4,1600,NaN,06TH,AVE,NaN,NaN,NaN,415,CAN,526,2,1600,"1600 06TH AVE San Diego, California",32.722117,-117.159458,92101,92101
23397,E23010025102,2023-01-18 17:00:17,4,0,NaN,HILLTOP,DR,NaN,COTTON,NaN,1149,K,445,2,NaN,"HILLTOP DR San Diego, California",32.715075,-117.095691,United States,92102
23398,E23010025103,2023-01-18 17:01:35,4,0,NaN,SPORTS ARENA,BLV,NaN,INTERSTATE 8 EB ON RAMP,NaN,415,K,613,2,NaN,"SPORTS ARENA BLV San Diego, California",32.753394,-117.210509,United States,92110
23399,E23010025104,2023-01-18 17:01:52,4,500,S,38TH,ST,NaN,NaN,NaN,HZRD,K,441,2,500,"500 S 38TH ST San Diego, California",32.701259,-117.112516,2854,92113
23400,E23010025106,2023-01-18 17:03:51,4,0,NaN,HANCOCK,ST,NaN,GREENWOOD,NaN,1151,K,611,2,NaN,"HANCOCK ST San Diego, California",32.753068,-117.203168,United States,92110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33391,E23010035780,2023-01-25 23:29:01,4,0,NaN,04TH,AVE,NaN,E,NaN,314,DUP,523,2,NaN,"04TH AVE San Diego, California",32.731232,-117.161241,United States,92101
33392,E23010035784,2023-01-25 23:37:22,4,800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,1130,K,623,1,800,"800 HOTEL CIRCLE SOUTH San Diego, California",32.759391,-117.177008,92108,92103
33393,E23010035785,2023-01-25 23:37:59,4,4000,NaN,46TH,ST,NaN,NaN,NaN,1146,K,831,0,4000,"4000 46TH ST San Diego, California",32.749581,-117.095525,92105,92105
33394,E23010035786,2023-01-25 23:38:56,4,3700,NaN,05TH,AVE,NaN,NaN,NaN,459A,CAN,627,3,3700,"3700 05TH AVE San Diego, California",32.745135,-117.160394,4224,92103
33395,E23010035789,2023-01-25 23:44:43,4,0,NaN,EL CAJON,BLV,NaN,40TH,NaN,T,K,832,2,NaN,"EL CAJON BLV San Diego, California",32.757308,-117.083611,United States,92115

In [57]:
Last2000_Geo.to_csv('Last2000_Geo.csv')

In [30]:
test = pd.read_csv('Last2000_Geo.csv')
test

,Unnamed: 0,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,...,call_type,disposition,beat,priority,address_number_primary_str,Address,lat,lng,zipcode,Zipcodes
0,23396,E23010025101,2023-01-18 17:00:02,4,1600,NaN,06TH,AVE,NaN,NaN,...,415,CAN,526,2,1600.0,"1600 06TH AVE San Diego, California",32.722117,-117.159458,92101,92101.0
1,23397,E23010025102,2023-01-18 17:00:17,4,0,NaN,HILLTOP,DR,NaN,COTTON,...,1149,K,445,2,NaN,"HILLTOP DR San Diego, California",32.715075,-117.095691,United States,92102.0
2,23398,E23010025103,2023-01-18 17:01:35,4,0,NaN,SPORTS ARENA,BLV,NaN,INTERSTATE 8 EB ON RAMP,...,415,K,613,2,NaN,"SPORTS ARENA BLV San Diego, California",32.753394,-117.210509,United States,92110.0
3,23399,E23010025104,2023-01-18 17:01:52,4,500,S,38TH,ST,NaN,NaN,...,HZRD,K,441,2,500.0,"500 S 38TH ST San Diego, California",32.701259,-117.112516,2854,92113.0
4,23400,E23010025106,2023-01-18 17:03:51,4,0,NaN,HANCOCK,ST,NaN,GREENWOOD,...,1151,K,611,2,NaN,"HANCOCK ST San Diego, California",32.753068,-117.203168,United States,92110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,33391,E23010035780,2023-01-25 23:29:01,4,0,NaN,04TH,AVE,NaN,E,...,314,DUP,523,2,NaN,"04TH AVE San Diego, California",32.731232,-117.161241,United States,92101.0
9996,33392,E23010035784,2023-01-25 23:37:22,4,800,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,...,1130,K,623,1,800.0,"800 HOTEL CIRCLE SOUTH San Diego, California",32.759391,-117.177008,92108,92103.0
9997,33393,E23010035785,2023-01-25 23:37:59,4,4000,NaN,46TH,ST,NaN,NaN,...,1146,K,831,0,4000.0,"4000 46TH ST San Diego, California",32.749581,-117.095525,92105,92105.0
9998,33394,E23010035786,2023-01-25 23:38:56,4,3700,NaN,05TH,AVE,NaN,NaN,...,459A,CAN,627,3,3700.0,"3700 05TH AVE San Diego, California",32.745135,-117.160394,4224,92103.0
9999,33395,E23010035789,2023-01-25 23:44:43,4,0,NaN,EL CAJON,BLV,NaN,40TH,...,T,K,832,2,NaN,"EL CAJON BLV San Diego, California",32.757308,-117.083611,United States,92115.0

In [31]:
#Confirm Address Length
test['Address_length'] = test['Address'].str.len()
test = test.sort_values(by=['Address_length'])
test

,Unnamed: 0,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,...,disposition,beat,priority,address_number_primary_str,Address,lat,lng,zipcode,Zipcodes,Address_length
666,24062,E23010025807,2023-01-19 07:07:32,5,0,NaN,I-8,NaN,NaN,FAIRMOUNT,...,W,321,1,NaN,"I-8 San Diego, California",32.779187,-117.071471,United States,92182.0,25
8799,32195,E23010034446,2023-01-25 06:37:14,4,0,NaN,I-5,NaN,NaN,J,...,W,521,1,NaN,"I-5 San Diego, California",32.804840,-117.214120,United States,92140.0,25
9940,33336,E23010035694,2023-01-25 22:03:37,4,0,NaN,I-5,NaN,NaN,GARNET,...,K,122,2,NaN,"I-5 San Diego, California",32.804840,-117.214120,United States,92140.0,25
7029,30425,E23010032576,2023-01-24 00:02:41,3,0,NaN,LOG,NaN,NaN,NaN,...,W,-1,2,NaN,"LOG San Diego, California",32.715738,-117.161084,United States,92101.0,25
7970,31366,E23010033556,2023-01-24 14:43:59,3,0,NaN,I-5,NaN,NaN,CORONADO (SB),...,DUP,722,0,NaN,"I-5 San Diego, California",32.804840,-117.214120,United States,92140.0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7083,30479,E23010032632,2023-01-24 01:24:25,3,13400,NaN,PACIFIC HIGHLANDS RANCH,PKY,NaN,NaN,...,K,934,3,13400.0,"13400 PACIFIC HIGHLANDS RANCH PKY San Diego, C...",32.962381,-117.190208,92130,92130.0,55
4706,28102,E23010030094,2023-01-22 05:14:24,1,13400,NaN,PACIFIC HIGHLANDS RANCH,PKY,NaN,NaN,...,K,934,2,13400.0,"13400 PACIFIC HIGHLANDS RANCH PKY San Diego, C...",32.962381,-117.190208,92130,92130.0,55
723,24119,E23010025865,2023-01-19 07:50:29,5,13600,NaN,PACIFIC HIGHLANDS RANCH,PKY,NaN,NaN,...,K,935,3,13600.0,"13600 PACIFIC HIGHLANDS RANCH PKY San Diego, C...",32.964125,-117.191468,92130,92130.0,55
7653,31049,E23010033223,2023-01-24 10:51:45,3,13400,NaN,PACIFIC HIGHLANDS RANCH,PKY,NaN,NaN,...,O,934,2,13400.0,"13400 PACIFIC HIGHLANDS RANCH PKY San Diego, C...",32.962381,-117.190208,92130,92130.0,55
9005,32401,E23010034659,2023-01-25 08:56:40,4,13500,NaN,PACIFIC HIGHLANDS RANCH,PKY,NaN,NaN,...,O,935,2,13500.0,"13500 PACIFIC HIGHLANDS RANCH PKY San Diego, C...",32.962984,-117.190720,92130,92168.0,55